<!DOCTYPE html>
<html lang="en">
  <head>
    ...
    <meta charset="UTF-8" />
    ...
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    ***<meta name="viewport"content="width-device-width,in <link
    rel="stylesheet"href="{{url_for('static'),filen}}
    <title>My First Page</title>
  </head>
  <body>
    <h1>My First Page</h1>
    {%for idx in range(10)%) {%if idx%2==0%}
    <p>text</p>
    {%endif%} {%endfor%} ****<script
    src="{{url_for('static',filename='js/script}}"}}'""'
  </body>
</html>
